:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}

/* globales */
html{
    font-size: 62.5%;
    box-sizing: border-box; /* hack para box model */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body{
    font-size: 16px; /* 1 rem = 10px */
    font-family: 'Krub', sans-serif; /*estilo de letra sacado del google fonts */
    background-image: linear-gradient(to top, #dfe9f3 0%, var(--blanco) 100%); /* color degradado que se le aplica a toda la pagina (de abajo hacia arriba)*/
}

.contenedor{
    max-width: 120rem;
    /*margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto;
    */
    /*margin: 0 auto 0 auto;
    */
    margin: 0 auto; /*crece hacia afuera del elemento */
}
.boton{
    background-color: var(--secundario); /* color del boton */
    color: var(--blanco); /* color de las letras */
    padding: 1rem 3rem; /*tamaño del boton */
    margin-top: 1rem; /* separar un poco mas el boton del demas contenido */
    font-size: 2rem; 
    text-decoration: none; /* quitar la linea de abajo del link */
    text-transform: uppercase; /* convertir todas las letras en mayusculas */
    font-weight: bold; /* bold = 700 osea negrita */
    border-radius: .5rem; /*redondear la esquinas del boton */
    width: 90%;
    text-align: center;
}

/* tipografia */
h1{
    font-size: 3.8rem; /*tamaño de letra*/
}
h2{
    font-size: 2.8rem;
}
h3{
    font-size: 1.8rem;
}
h1,h2,h3{
    text-align: center; /* alinear texto al centro */
}

/*titulos */
.titulo span{ /*usando modulo (especificidad) */
    font-size: 2rem;
}

@media (min-width: 768px) { 
    .boton{
        width: auto; /* resetea el tamaño */
    }
}
/* navegacion principal */
.nav-bg{
    background-color: var(--secundario); /*dandole color a la barra de navegacion */
}
.navegacion-principal{
    display: flex; /* nos abre las propiedades de flexbox (elementos se muestran de izquierda a derecha) */
    flex-direction: column; /* los elemnentos de la navegacion se muestran de arriba hacia abajo */
}
.navegacion-principal a{
    color: var(--blanco);
    display: block;
    text-align: center;
    text-decoration: none; /*para quitarle la linea de abajo a los elementos de la barra de navegacion */
    font-size: 2rem; 
    font-weight: 700; /* tamaño de letra del estilo seleccionado en el google fonts donde bold es equivalente a 700 si es weigth es 400 */
    padding: 1rem 5rem; /*crece la parte interna del elemento */
}
.navegacion-principal a:hover{  /* evento para cuando se pone el maus encima de un elemento de la barra de navegacion */
    background-color: var(--primario); 
    color: var(--oscuro)
}


/* para hacerlo responsive web design (se adapta a cualquier dispositivo en que se vea) 
en este caso usaremo media queries ctrl + shift + p   user snippets    css json(css)
	"crea un media querie":{
		"prefix" : "mq",
		"body": "@media (min-width: $1) { \n    $2\n}"
	}  */

@media (min-width: 768px) { /*estos cambios se aplican cuando el tamaño supera los 768px */
    .navegacion-principal{
         flex-direction: row; /* coloca los elementos en una sola linea de manera horizontal uno despues del otro */
         justify-content: space-between; /*mover contenido horizontalmente en este caso se movieron hacia el centro con un espaiciado uniforme*/
    }
}
@media (min-width: 480px) { 
    
}
/* hero */ 
.hero {
    background-image: url(../img/hero.jpg); /* salir de carpeta con .. */
    background-repeat: no-repeat; /* para que la imagen no se repita a lo largo de la pagina */
    background-size: cover; /* para controlar el tamaño de la imagen y se adapte al largo de la pagina */
    height: 450px;
    position: relative;
}
.contenido-hero{
    position: absolute;
    background-color: rgb(0, 0, 0, .7); /* haciendo mas transparente la imagen */
    width: 100%;
    height: 100%;

    /* este codigo se puede utilizar para cuando tenga que alinear vertical como horizontalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.contenido-hero h2, 
.contenido-hero p {
    color: var(--blanco);
}
/* para poner el contenido de la ubicacion al lado del logo ubicacion */
.ubicacion{
    display: flex;
    align-items: flex-end;
}



